.App {
  width: calc(100vw - 60px);
  padding: 30px 30px;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  section + section {
    margin-top: 20px;
  }
}

.filterContainer {
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: flex-start;

  .toggle__filter {
    margin-left: 10px;
  }
}

.cardContainer {
  width: 100%;
  max-width: 1200px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: content-box;

  .cardList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(268px, 1fr));
  }

  @media (max-width: 992px) {
    .cardList {
      grid-template-columns: repeat(3, minmax(268px, 1fr));
    }
  }
  @media (max-width: 768px) {
    .cardList {
      grid-template-columns: repeat(2, minmax(268px, 1fr));
    }
  }
}
