$default-color: #0000005e;

@mixin checkbox($size) {
  display: flex;
  flex-direction: row;
  align-items: center;

  .checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;

    outline: none;
    cursor: pointer;

    height: $size;
    width: $size;
  }

  // .checkboxIcon - after 가상선택자에 아이콘 디자인 적용
  .checkboxIcon {
    content: "";

    height: $size;
    width: $size;
    display: block;
  }

  .checkbox::after {
    @extend .checkboxIcon;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .checkbox:checked::after {
    @extend .checkboxIcon;
    border: none;
  }
}

@mixin notice() {
  min-height: 200px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  ::before {
    content: "💬";
    font-size: 40px;
    text-align: center;

    display: block;
  }

  p {
    font-weight: bold;
  }
}
