$default-color: #0000005e;

@mixin checkbox($size) {
  .afterCheckbox {
    content: "";

    height: $size;
    width: $size;
    display: block;
  }

  display: flex;
  flex-direction: row;
  align-items: center;

  .checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;

    outline: none;
    cursor: pointer;

    height: $size;
    width: $size;
  }

  &.toggle__filter {
    .checkbox::after {
      border: 1px solid $default-color;
    }
  }

  .checkbox::after {
    @extend .afterCheckbox;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .checkbox:checked::after {
    @extend .afterCheckbox;
    border: none;
  }
}

@mixin emptyScreen() {
  min-height: 200px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  ::before {
    content: "💬";
    display: block;
    font-size: 40px;
    text-align: center;
  }

  p {
    font-weight: bold;
  }

}
